<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <h1><a href="/pokedex">Pokedex</a></h1>
        </li>
        <li class="nav-item">
            <a href="/pokedex/team" class="nav-link fill">My Pokemon Team!</a>
        </li>
        <li class="search-poke">
            <form action="#">
                <input type="text" placeholder="Search Pokemon" class="search-input">
                <button type="submit" class="btn">Search!</button>
            </form>
        </li>
    </ul>
</nav>